* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0.8); 
    color: #dfdab7;      
    border-bottom: 1px solid #412006; 
}

#workspaces,
#clock,
#battery,
#network {
    padding: 0 10px;
    margin: 0 4px;
    background-color: rgba(0,0,0,0); 
    color: #dfdab7;           
}

#workspaces button.active {
    background-color: #412006; 
    color: #dfdab7;           
}

#workspaces button:hover {
    background-color: #2c5148;
    color: #000000;
}

#workspaces button.focused {
    background-color: #2c5148;
    color: #000000;
}

#battery.warning, #battery.critical, #battery.charging {
    color: #dfdab7; 
}

